---
import logo from "../assets/logo.svg";
import whatsApp from "../assets/whatsapp.svg";
import instagram from "../assets/instagram.svg";
import gitHub from "../assets/gitHub.svg";
---

<header>
  <div class="sec1">
    <a href="#"><img src={logo} alt={logo} id="logo" /></a>
    <nav>
      <a href="https://github.com/AdityaMotale">About</a>
      <a href="https://github.com/AdityaMotale/atLeave-new">Source</a>
    </nav>
  </div>
  <nav class="sec2 sec21">
    <a href=""> <img src={instagram} alt={instagram} /></a>
    <a href=""> <img src={whatsApp} alt={whatsApp} /></a>
    <a href="https://github.com/AdityaMotale">
      <img src={gitHub} alt={gitHub} />
    </a>
  </nav>
  <div class="sec2 sec22">
    <a href="/quickpick">QUICK PICK</a>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
    height: 11vh;
    padding: 10px 0%;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #1e2435;
  }

  #logo {
    padding-top: 6px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s;
    animation-timing-function: step-start;
  }

  a:hover {
    color: #a259ff;
  }

  nav > a > img {
    transition: 0.1s;
    animation-timing-function: linear;
  }

  nav > a > img:hover {
    filter: brightness(0) saturate(100%) invert(43%) sepia(83%) saturate(3337%)
      hue-rotate(242deg) brightness(100%) contrast(102%);
  }

  .sec1 {
    width: 67%;
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
  }

  .sec1 > nav {
    width: 32%;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sec2 {
    width: 16.5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sec21 {
    justify-content: space-around;
    border-left: 2px solid #1e2435;
    border-right: 2px solid #1e2435;
  }
</style>
